/* =================================
            Body
================================= */

body {
    background-image: url(../images/bg.png);
}

.row {
    margin: 0;
}

.content {
    min-height: calc(100vh - 70px);
}

h5 {
    text-decoration: underline;
    font-style: italic;
}

/* =================================
            Main Content
================================= */

#title h1 {
    text-align: center;
    background-color: #4cd5f7;
    margin: 30px 15%;
    padding: 15px 0;
    font-style: italic;
}

#instructions {
    background-color: #fca420;
    padding: 5%;
}

#RandomNumber,
#results,
#score {
    margin-top: 15px;
    height: 115px;
    background-color: #4cd5f7;
    text-align: center;
    padding: 10px;
}

#score {
    margin: 15px 0 20px 0;
}

.crsPic {
    width: 22.6%;
    margin: 15px 5px 0 5px;
}

.crsPic:first-child {
    margin-left: 0;
}

.crsPic:last-child {
    margin-right: 0;
}

#randNum,
#userScore {
    font-size: 26px;
}

#results p {
    margin-bottom: 0;
}

#title h1,
#instructions,
#RandomNumber,
#results,
#score {
    border: 3px solid #000;
    border-radius: 8px;
}

/* =================================
            Footer
================================= */

footer {
    width: 100%;
    height: 75px;
    background-color: #fca420;
    text-align: center;
    padding-top: 25px;
}

a {
    color: rgb(30, 135, 201);
}

a:hover {
    text-decoration: none;
    color: #fff;
}

/* =================================
        Mobile Responsivness
================================= */

@media (max-width: 414px) {
    .crsPic {width: 40%;}
    #crystals {margin-left: 15%;}

    #instructions,
    #RandomNumber,
    #results,
    #score {width: 90%; margin-left: 19px;}
}